.nav {
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background-color: rgb(12, 58, 143);
    color: rgb(220, 228, 255);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.logo {
    font-family: "Times New Roman", Times, serif;
}
.ul {
    display: flex;
    list-style: none;
    width: 40%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.ul li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(220, 228, 255);
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 30px;
}
.ul li a:hover {
    color:white;
    background: black;
}

@media screen and (max-width: 768px){
    .nav ul {
        width: 50%;
    }
}
@media screen and (max-width: 576px){
    .nav ul {
        display: none;
    }
}


     






