.nav {
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background-color: rgb(12, 58, 143);
    color: rgb(220, 228, 255);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.ul {
    display: flex;
    list-style: none;
    width: 40%;
    height: 50px;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

.ul li a {
    font-size: 0.8em;
    text-decoration: none;
    color: rgb(220, 228, 255);
}

.logo {
    font-family: "Times New Roman", Times, serif;
}

     






