 .project {
     background-color: white;
     padding-top: 30px;
     
 }
 .box {
     color: rgb(8, 31, 163);
     display: flex;
     padding: 60px;
     padding-top: 0px;
     margin: 60px;
    
 }
 .box .col-4 {
     width: 25%;
     padding: 20 px;
     box-sizing: border-box;
     float: left;
     text-align: center;
     margin: 10px 0;
 }
 .icon {
     width: 70px;
     height: 70px;
     border: 1px solid;
     border-radius: 50%;
     text-align: center;
     line-height: 70px;
     font-size: 20px;
     margin: 0 auto;
    
 }
.col-4 .h4 {
    font-family: 'Poppins', sans-serif;
}